// $primary: #8d021f; // burgundy

/*
$primary: #efb761;  // porsche
$info: #251839;  // revolver
$success: #7db155;  // chelsea cucumber
$warning: #faa11d;  // Tree Poppy
$danger: #f44336;  // Pomegranate
*/

$body-bg: #e5d8f9;
$body-color: #4a5100;

$primary: #4264d0;
$info: #293234;  // Outer Space
$success: #5ca72d;  // Asparagus
$warning: #f97f15;  // Ecstasy 
$danger: #f44336;  // Pomegranate

$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
