.bsc-offering-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-items: flex-start;
	.icon-w1 {
		width: 160px;
	}
	.icon-w2 {
		width: 200px;
	}
	.icon-w3 {
		width: 230px;
	}
	.offering-message {
		flex: 1;
	}
	.partners {
		display: flex;
		flex-wrap: wrap;
		p {
			margin: 0px 5px;
			position:relative;
			width:200px;
			height:80px;
			img { 
				position:absolute;
				top:0;
				bottom:0;
				margin:auto;
			 }
		}
	}
	.services {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.9em;
		.service-item {
			width: 50%;
			a {
				img {
					width: 70px;
				}
				margin-left: 10px;
				display: block;
			}
		}
	}
}
  
  

