<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8"><meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{page.title}}</title>
	<style>
		body {
			background-color: #102020;
			color: #f8ffff;
			font-size: 1.2em;
		}
	</style>
</head>
<body>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

{{ content }}

</body>
</html>
